nav {
    background-color: #D98B11;
    color: #eee;
    text-align: right;
    margin-bottom: 0px;
    padding: 25px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  /* section {
    margin-bottom: 20px;
  } */
  #home {
    background-color: #D9D411;
    max-height: 25vh;
    margin-top:0px;
    padding-bottom: 25%;
    padding-left: 12px;
    overflow: hidden;
    vertical-align: top;
    margin: 12px 0px 20px 0px;
  }
  #home p {
    text-align: center;
    color: #222; ;
    font-size: 1.3em;
  }
  #about nav {
    background-color: #D98B11;
    color: #eee;
    text-align: right;
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  #home p {
    text-align: center;
    color: #222;
    font-size: 1.3em;
  }

  /* About section styles */
  #about {
    background-color: #D9A411;
    max-height: 25vh;
    margin-bottom: 10px;
    vertical-align: top;
    justify-content: center;
    padding-bottom: 25%;
    padding-left: 12px;
    
  }
  #about p {
    text-align: center;
    font-size: 1.5em;
  }

  /* Projects section styles */
  #projects {
    background-color: #D9A411;
    max-height: 25vh;
    margin: 0;
    padding-left: 12px;
    padding-bottom: 25%;
    padding-left: 12px;
    
  }

  #about p {
    font-size: 1.5em;
  }

  #projects {
    background-color: #D9A411;
    max-height: 25vh;
    padding-bottom: 25%;
    font-size: 1.2em;
    padding-left: 12px;
   
  } 

  #projects h2  {
    text-align: center;

  }
  #projects ul {
    list-style-type: none;
  }